[Desktop Entry]
Version=1.0
Name=PEBL 2
Comment=Psychology Experiment Building Language
Exec=pebl2
Terminal=false
Type=Application
Categories=Science;
Icon=pebl2
StartupNotify=true
