[Desktop Entry]
Version=2.0
Name=Run PEBL 2
Comment=This is my comment
Exec=/usr/local//pebl2/bin/pebl2
Terminal=false
Type=Application
Categories=Utility;Application;
Icon=/usr/local//pebl2/media/images/pebl2.png
StartupNotify=true
Name[en]=PEBL 2
Comment[en]=Run PEBL 2
GenericName[en]=Psychology Experiment Building Language, Version 2.0
